<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MedicDateDB"
           connectionString="Server=innego.net;Database=innegone_bd_medic;Uid=innegone_u_medic;Pwd= hgw1F*itgwv3OVPt;"
             providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>